<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script defer src="js/vue.js"></script>
    <script defer src="js/main.js"></script>
    <link rel="stylesheet" href="css/main.css">

    <title>Product App</title>
</head>
<body>

<div id="app">
<h2> Введите задачу</h2>
    <form @submit.prevent="addTask">
        <label for="createdAt">Дата создания:</label>
        <input id="createdAt" type="date" v-model="newTask.createdAt" placeholder="Дата создания" required >
        <label for="title">Заголовок задачи:</label>
        <input id="title" type="text" v-model="newTask.title" placeholder="Заголовок задачи" required>
        <label  id="description" for="description">Описание задачи:</label>
        <input type="text" v-model="newTask.description" placeholder="Описание задачи">
        <label for="deadline">Дэдлайн:</label>
        <input id="deadline" type="date" v-model="newTask.deadline" placeholder="Дэдлайн" required >
        <button class="btn" type="submit">{{ editingTaskIndex !== null ? 'Сохранить изменения' : 'Добавить задачу' }}</button>
    </form>



    <div class="container">
        <div class="colum"> <p>Запланированные задачи</p>

            <div v-for="(task, index) in  tasks" :key="index">
                <h3>{{ task.title }}</h3>
                <p>{{ task.description }}</p>
                <p>Дэдлайн: {{ task.deadline }}</p>
                <p>Дата создания: {{ task.createdAt }}</p>
                <p>Последнее редактирование: {{ task.lastEdited }}</p>
                <button @click="editTask(index, task, 'tasks')">Редактировать</button>
                <button @click="deleteTask(index, 'tasks')">Удалить</button>
                <button @click="moveToInProgress(index)">Переместить в работу</button>
            </div>

        </div>
        <div class="colum"> <p>Задачи в работе</p>

            <div v-for="(task, index) in  inProgressTasks" :key="index">
                <h3>{{ task.title }}</h3>
                <p>{{ task.description }}</p>
                <p>Дэдлайн: {{ task.deadline }}</p>
                <p>Дата создания: {{ task.createdAt }}</p>
                <p>Последнее редактирование: {{ task.lastEdited }}</p>
                <button @click="editTask(index, task, 'inProgressTasks')">Редактировать</button>
                <button @click="moveToInTest(index)">Переместить в тестирование</button>

                <p v-if="inProgressColumnReasons[index] && inProgressColumnReasons[index].length">
                    Причина: {{ inProgressColumnReasons[index][inProgressColumnReasons[index].length - 1] }}
                </p>



            </div>

        </div>

        <div class="colum"> <p>Тестирование</p>
            <div v-for="(task, index) in  inTest" :key="index">
                <h3>{{ task.title }}</h3>
                <p>{{ task.description }}</p>
                <p>Дэдлайн: {{ task.deadline }}</p>
                <p>Дата создания: {{ task.createdAt }}</p>
                <p>Последнее редактирование: {{ task.lastEdited }}</p>
                <button @click="editTask(index, task, 'inTest')">Редактировать</button>
                <button @click="moveToFix(index, 'Причина')">Переместить в работу</button>

                <form @submit.prevent="addReasonToInProgressColumn (index)">
                    <label for="reasonInput">Добавить причину:</label>
                    <input id="reasonInput" type="text" v-model="reasonInput" placeholder="Введите причину">
                    <button type="submit">Добавить</button>
                </form>
            </div>

        </div>


        <div class="colum"> <p>Выполненные задачи</p> </div>
    </div>
</div>



</body>
</html>